<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inphoodrn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:launchMode="singleTask"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <!-- TODO: add properer BranchKey below -->
      <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_xxxxxxxxxxx" />
      <uses-permission android:name="android.permission.INTERNET" />
    </application>

    <!-- TODO: turn this on below when in Android App Store
               see this link for more: https://dev.branch.io/getting-started/sdk-integration-guide/guide/react/#android-configure-manifest
               -->
    <!-- receiver android:name="io.branch.referral.InstallListener" android:exported="true">
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER" />
      </intent-filter>
    </receiver -->

</manifest>
